@import "@material/layout-grid/mdc-layout-grid";

.custom-mdc-layout-grid__cell--collapse-top {
  margin-top: 0;

  @supports (display: grid) {
    margin-top: -8px;
  }
}

.custom-mdc-layout-grid__cell--collapse-bottom {
  margin-bottom: 0;

  @supports (display: grid) {
    margin-bottom: -8px;
  }
}

.custom-mdc-layout-grid__cell--collapse-vertical {
  @extend .custom-mdc-layout-grid__cell--collapse-top;
  @extend .custom-mdc-layout-grid__cell--collapse-bottom;
}

/*This css fixes the nesting problem:*/
.mdc-layout-grid {
  margin: -16px;
}

section + section {
  margin-top: 50px;
}

.content {
  width: 100%;
  min-height: 20px;
  background-color: blue;
}

.content--red {
  background-color: red;
}

.content--green {
  background-color: green;
}

.content--orange {
  background-color: orange;
}

header {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 0;
}
